<h1>Projects</h1>
<p>This is the Projects.</p>
<!-- projects.ejs -->
<div class="row">
    <!-- Proyecto 1 -->
    <div class="col-sm-4">
      <div class="card">
        <img src="/images/project1.jpg" class="card-img-top" alt="Project 1">
        <div class="card-body">
          <h5 class="card-title">Project 1</h5>
          <p class="card-text">Descripción breve del Proyecto 1.</p>
          <!-- Botón para abrir el modal del Proyecto 1 -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#project1Modal">
            Ver más
          </button>
        </div>
      </div>
    </div>
  
    <!-- Modal para el Proyecto 1 -->
    <div class="modal fade" id="project1Modal" tabindex="-1" aria-labelledby="project1ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="project1ModalLabel">Project 1</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Aquí va la información detallada del Proyecto 1.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Proyecto 2 -->
    <div class="col-sm-4">
      <div class="card">
        <img src="/images/project2.jpg" class="card-img-top" alt="Project 2">
        <div class="card-body">
          <h5 class="card-title">Project 2</h5>
          <p class="card-text">Descripción breve del Proyecto 2.</p>
          <!-- Botón para abrir el modal del Proyecto 2 -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#project2Modal">
            Ver más
          </button>
        </div>
      </div>
    </div>
  
    <!-- Modal para el Proyecto 2 -->
    <div class="modal fade" id="project2Modal" tabindex="-1" aria-labelledby="project2ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="project2ModalLabel">Project 2</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Aquí va la información detallada del Proyecto 2.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Proyecto 3 -->
    <div class="col-sm-4">
      <div class="card">
        <img src="/images/project3.jpg" class="card-img-top" alt="Project 3">
        <div class="card-body">
          <h5 class="card-title">Project 3</h5>
          <p class="card-text">Descripción breve del Proyecto 3.</p>
          <!-- Botón para abrir el modal del Proyecto 3 -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#project3Modal">
            Ver más
          </button>
        </div>
      </div>
    </div>
  
    <!-- Modal para el Proyecto 3 -->
    <div class="modal fade" id="project3Modal" tabindex="-1" aria-labelledby="project3ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="project3ModalLabel">Project 3</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Aquí va la información detallada del Proyecto 3.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer') %>
  
  